

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/IRANSansWeb.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/IRANSansWeb.woff") format("woff"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
  }

body{
    margin: 0;
    padding: 0;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pricing-table{
   max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.col{
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}
.table{
    background: rgba(255, 255, 255, 0.938);
    padding: 40px 20px;
    font-family: IRANSansWeb;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}

.table h2{
    text-transform: uppercase;
}

.table ul{
    margin: 0;
    padding: 0;
}
.table ul li {
    padding: 10px 0;
    list-style: none;

}
.price{
    font-size: 40px;
    margin-bottom: 20px;
}
.price span{
    display: block;
    font-size: 14px;
}
.table a{
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.4s linear;
}
.table a:hover{
    background:  #2c3e50;
    color: #fff;
}
.pop{
    background:  #2c3e50;
    color: #fff;
    transform: rotate(45deg);
    padding: 10px 40px;
    position: absolute;
    top: 18px;
    right: -40px;
}

@media screen and (max-width: 980px){
    .col{
        flex: 50%;
    }
}
@media screen and (max-width: 700px){
    .col{
        flex: 100%;
    }
}